/* Dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    #tabla-incidencias {
        display: block;
        overflow-x: auto;
    }

    .grid-incidencias {
        grid-template-columns: 1fr;
    }
}